<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week-4</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">  {% block header %}{% endblock %}</div>
    <form class="login" action="/signin" method="post">
        {% block content %}{% endblock %}
    </form>

    <form class="square">
        {% block square %}{% endblock %}
    </form>

    <div class = "cal-result">
        {% block result %}{% endblock %}
    </div>


    <script src="../static/javascript.js"></script>
</body>
</html>