{% extends "base.html" %}

{% block header %}歡迎光臨，請輸入帳號密碼{% endblock %}
{% block content %} 
    <div class="login-title">登入系統</div>
    <div class="account-div">
        <label for="account-label">帳號</label>
        <input type="text" class="account-input" name="account">
    </div>
    <div class="password-div">
        <label for="password-label">密碼</label>
        <input type="password" class="password-input" name="password">
    </div>
    <div class="agreement-div">
        <label for="agreement-label">同意條款</label>
        <input type="checkbox" class="checkbox">
    </div>
    <div class="submit-btn-div">
        <input type="submit" value="登入" class = "submit-btn" onclick="CheckAgreement()">
    </div>

    <hr>
{% endblock %}

{% block square %}
    <div class="login-title">計算正整數的平方</div>
    <div class="account-div">
        <label for="integer">正整數</label>
        <input type="text" name="number">
    </div>
    <div class="submit-btn">
        <input type="submit" value="計算">
    </div>
{% endblock %}